@charset "UTF-8";

img#relation{
	width: 816px;
	height: 821px;
	margin: 25px 0px;
	margin-left: 70px;
}

article.main-articles{
	visibility: hidden;
	clear: both;
	overflow: auto;
	width: 90%;
	padding-right: 45px;
	margin: 25px 45px;
	color: #E5E5E5;
	border: 3px solid #47494D;
	border-radius: 25px;
	background: #47494D;
}

.main-articles figure{
	float: left;
	margin: 25px;
}

.main-articles figure > img#character_img{
	border-radius: 18px;
}

h2{
	font-size: 40px;
}

area{
	cursor: pointer;
}

p.contents {
	margin-bottom: 0px;
	font-size: 21px;
}