@charset "UTF-8";

article.articles {
    clear: both;
    width: 90%;
    height: auto;
    margin: 25px;
}

article.main{
	height: 275px;	
}

hgroup{
	margin-top: 20px;
}

hgroup a{
	width: 200px;
}

.articles figure{
	float: left;
	padding: 3px;
	margin: 5px;
}

.articles figure > img.cover {
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
}

.articles figcaption{
	font-size: 90%;
	text-align: left;	
}

h2{
	font-size: 40px;
}

h2 label{
	font-size: 25px;
	font-weight: 5px;
}

h2 a:hover{
	color: #7C3A00;
	cursor: pointer;
}

h3{
	font-size: 25px;
}

p.contents {
	margin-bottom: 0px;
	font-size: 18px;
}

p.top_contents{
	margin-top: 25px;
	width: 90%;
	font-size: 23px;
}

footer {
    float: left;
    margin-top: 50px;
}